<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/styles.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.gif">
  <title></title>
</head>

<body>
  <div id="container">
    <div id="topBar">
      <marquee width="100%" direction="left" height="100px" class="rainbow-text">
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
        jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules jules
      </marquee>
    </div>
    <div id="headerArea">
      <div id="header">
        <h1> <em class="header-text">jubelogs</em> </h1>
      </div>
    </div>
    <nav id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <div id="flex">
      <aside id="leftSidebar">
        <div id="updates_list">
        </div>
        <h2>Seja bem vindo(a)!</h2>
        <div id="category_list">
        </div>
      </aside>
      <main id="main">
        <div id="content">
        </div>
      </main>
    </div>
  </div>
</body>

</html>
